services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "4004:4004"
    volumes:
      - ./:/app
      - ./node_modules:/app/node_modules
      - ../capturit-shared:/capturit-shared
    environment:
      NODE_ENV: development
    stdin_open: true
    tty: true
